<h1>Hei,{{ name }} velkommen til Vine-logistikksystemet</h1>
<p>Kontoen din er opprettet. Nedenfor er påloggingsdetaljene dine</p>
<p>
    email: {{ email }}<br>
    passord: {{ password }}
</p>

<p>Hvis du ikke har bedt om denne e-posten, kan du trygt ignorere den.</p>
